html {
  font-size: calc(1em + 1vw);
  color: #222;
  font-family: Arial;

  @media screen and (min-width: 75em) {
    font-size: 1.5em;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}
.outer-container {
  display: flex;
  flex-direction: column;
  @media only screen  and (min-width : 1024px) {
    flex-direction: row;
  }
}
.inner-container {
  flex-direction: column;
  @media only screen  and (min-width : 1024px) {
    order: 2; 
    flex-grow: 3;
    max-width: 1024px;
  }
}

.left-buffer {
  @media only screen  and (min-width : 1024px) {
    order: 1; 
    flex-grow: 1;
  }
}

.right-buffer {
  @media only screen  and (min-width : 1024px) {
    order: 3; 
    flex-grow: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  .title {
    font-size: 2.5em;
  }
  .add {
    display: flex;
    align-items: center;
    .link-wrapper {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 2.5em;
        color: black;
      }
    }
  }
}

.footer {
}

.content {
  flex-direction: column;
}

.post {
  flex-direction: column;
  margin-bottom: 1em;
  .title {
    font-size: 4em;
  }
  .summary {
    font-size: 2em;
    background-color: #f6f6f6;
    padding: 0.125em;
  }
  .video-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    .video {
    }
    .metadata {
      font-size: 1em;
      color: #b1b2b2;
      display: flex;
      flex-direction: row;
      padding: 0.25em 0.25em 0 0.25em;

      div {
        padding-right: 15px;
      }
    }
  }
}
