<html>
  <head>
  </head>
  <body>
    <h1>Tell us about a JP tangent</h1>
    <form action="/posts" method="post">
      <input type="text" name="post[][title]">
      <input type="text" name="post[][synopsis]">
      <input type="text" name="post[][video_url]">
      <input type="text" name="post[][start_time]">
      <input type="text" name="post[][duration]">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
